<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <style>

  </style>
</head>
<body>
  <div id="holder">
  <%=JSON.stringify(user)%>
  <%=JSON.stringify(cookies)%>

  </div>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script>
  var socket = io.connect();
      socket.on("duplicate",function(ms){
        location.reload();
      })
      socket.on("all",function(ms){
        console.log("all",ms);
      })
      socket.on('error', function (reason){
        console.error('Unable to connect Socket.IO', reason);
      });
      socket.on('private', function (reason){
        console.error('private', reason);
      });
  </script>
</body>





